<html>
  <head></head>
  <body>
    <a href="/create">Create Table</a><br>
    <a href="/insert">Insert Data</a><br>
    <a href="/search">Search Data</a><br>
    <a href="/delete">Delete Data</a>
  </body>
</html>