<html>
  <head></head>
  <body>
    <!-- '.'代表傳進來的變數 -->
    <h1>{{.}}</h1>

    <!-- template裡可以宣告變數，但必須帶'$'符號 -->
    {{$myVar1 := .}}
    {{$myVar2 := "Nice"}}

    <!-- 顯示變數 -->
    <h1>{{$myVar1}}</h1>
    <h1>{{$myVar2}}</h1>
  </body>
</html>
